body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    background-color: aquamarine;
}

.container {
    max-width: 500px;
    margin: auto;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 3px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #62c167;
    }
}

img {
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
}