body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-color: lemonchiffon;
}

header h1 {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin: 0;
  padding: 50px 0 50px 0;
}

main {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 0 auto;
  label {
    font-weight: bold;
  }
  input {
    padding: 0.5em;
    font-size: 1em;
  }
  button {
    padding: 0.75em;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}

#resultado {
  text-align: center;
  font-size: 30px;
}

#historial {
  width: fit-content;
  margin: auto;
  list-style-type: none;
  padding: 0;
  li {
    text-align: left;
    padding: 0.5em 0;
  }
}

footer {
  margin-top: auto;
  p {
    text-align: center;
    color: #777;
  }
}
