body {
  background-color: #222222;
  color: #bbbbff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#catalogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: black;
  background-color: darkslategray;
  margin: 30px;
}

h2 {
  padding-bottom: 20px;
}

button {
  background-color: #6495ed;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #80aadd;
  }
}
