body {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

select {
    width: 20%;
    height: 50px;
    border-radius: 25px;
    background-color: crimson;
    color: mediumspringgreen;
    font-weight: 500;
    padding-left: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 50%;
}

button {
    width: 20%;
    height: 50px;
    border-radius: 25px;
    background-color: crimson;
    color: mediumspringgreen;
    font-weight: 500;
    border: none;
    cursor: pointer;
}